#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1700px;
}

#sortable li {
  margin: 3px 3px 3px 0;
  padding: 1px;
  float: left;
  width: 400px;
  height: 400px;
  font-size: 10em;
  text-align: center;
}
